body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    display: block;
    background-color: rgb(2, 65, 85);
    height: 100%;


}

.gridBox {
    display: grid;
    grid-template-columns: auto 35% 25% 35% auto;
    grid-template-rows: 50px 50px;
}

.inputBox {
    grid-column: 2 / 5;
    align-self: center;
    justify-self: center;
    width: 75%;
    height: 18px;
    padding: 5px;
    font-size: 1rem;
    border: 2px dotted black;

}

button {
    align-self: center;
    height: auto;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: gray;
    text-shadow:-1px -1px white, -1px 1px black, 1px 1px black, 1px 1px white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button1 {
    grid-column: 2/3;
}
.button2 {
    grid-column: 4/5;
}
.leftNum {
    font-size: 2.5rem;
    margin: 5px;
    color: white;
    text-shadow: -1px -1px black, -1px 1px black, 1px 1px black, 1px 1px black;
}

.leftTodo {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: -1px -1px white, -1px 1px black, 1px 1px black, 1px 1px white;
}

.header {
    display: block;
    position: static;
    top: 0;
    margin: 0px;
    height: 110px;
    margin-bottom: 75px;
    background-image: url('./images/lightbeams.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    display: block;
    position: static;
    z-index: 10;
    margin: 0px;
    height: 110px;
    margin-top: 75px;
    background-image: url('./images/lightbeams_rev.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 720px){
    .gridBox {
        grid-template-columns: auto 15% 25% 15% auto ;
    }

    .header {
        height: 175px;
    }

    .footer {
        height: 175px;
    }
}